table {
width: 100%;
border-radius: 8px;
color: aliceblue;
margin-top: 20px;
max-width: 800px;
position: relative;
}

tr {
    border-bottom: solid;
}
button {
    margin-bottom: 10px;
}
h2 {
    color: aliceblue;
}
/* add to index*/


.users {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically (if needed) */
    width: 100%;
}