.monster-link {
    text-decoration: none;
    color: inherit;
  }
  
  .monster-card {
    border: 2px solid #636363;
    border-radius: .5rem;
    margin: 1rem;
    width: 220px;
    text-align: center;
    background-color: rgb(226, 224, 223);
  }
  
  .monster-image {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain ;
  }
  h3 {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: medium;
  }
  /* add to index*/